<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="js/index.js"></script>
</head>
<body>
    <div class="sidebar">
        <header>Поиск</header>
        <a class="menu-item" href="#" item="ip">
            <i class="fas fa-stream"></i>
            <span>по IP</span>
        </a>
        <a class="menu-item" href="#" item="city">
            <i class="fas fa-sliders-h"></i>
            <span>по городу</span>
        </a>
    </div>
    <div class="main">
        <div class="content" id="ip">
            <form class="form-wrapper" name="ip" onsubmit="return false" novalidate>
                <input name="search" type="text" minlength="7" maxlength="15" size="15" placeholder="Введите IP" class="searchinput"
                    pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$">
                <input type="submit" class="submit" value="Искать">
                <div class="error-message">IP невалидный</div>
            </form>
            <div class="container">
                <h1>Координаты</h1>
                <table class="rwd-table">
                    <thead>
                        <tr>
                            <th>Широта</th>
                            <th>Долгота</th>
                        </tr>
                    </thead>
                    <tbody id="coordinates"></tbody>
                </table>
            </div>
        </div>
        <div id="city" class="content hidden">
            <form class="form-wrapper" name="city" onsubmit="return false" novalidate>
                <input name="search" class="searchinput" type="text" placeholder="Введите название города">
                <input type="submit" class="submit" value="Искать">
            </form>
            <div class="container">
                <h1>Список местоположений</h1>
                <table class="rwd-table">
                    <thead>
                        <tr>
                            <th>Страна</th>
                            <th>Регион</th>
                            <th>Индекс</th>
                            <th>Город</th>
                            <th>Организация</th>
                            <th>Широта</th>
                            <th>Долгота</th>
                        </tr>
                    </thead>
                    <tbody id="locations"></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>