<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <!-- <title>Responsive Sidebar Menu</title> -->
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="js/index.js"></script>
</head>
<body>
    <div class="sidebar">
        <header>Поиск</header>
        <a href="#" onclick="showContent('ip')">
            <i class="fas fa-stream"></i>
            <span>по IP</span>
        </a>
        <a href="#" onclick="showContent('city')">
            <i class="fas fa-sliders-h"></i>
            <span>по городу</span>
        </a>
    </div>
    <div class="main">
        <div class="content">
            <div class="form-wrapper" id="ip_form">
                <input type="text" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" id="searchip" placeholder="Введите IP">
                <input type="submit" value="Искать" id="submitip" onclick="searchByIP()">
                <div class="error-message">IP is invalid</div>
            </div>
            <div class="container">
                <h1>Coordinates</h1>
                <table class="rwd-table">
                    <thead>
                        <tr>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody id="coordinates"></tbody>
                </table>
            </div>
        </div>
        <div id="city" style="display:none" class="content">
            <div class="form-wrapper">
                <input type="text" id="searchcity" placeholder="Введите название города">
                <input type="submit" value="Искать" id="submitcity" onclick="searchByCity()">
            </div>
            <div class="container">
                <h1>Locations</h1>
                <table class="rwd-table">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Region</th>
                            <th>Postal</th>
                            <th>City</th>
                            <th>Organization</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody id="locations"></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>